<h1>Real Time Products</h1>
<ul id="productList">
  {{#each products}}
    <li>{{this.title}}</li>
  {{/each}}
</ul>

<h2>Add Product</h2>
<form id="productForm">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="description" placeholder="Description" />

  <button type="submit">Add Product</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io(); socket.emit('joinRoom', 'realTimeProducts'); WebSocket
  socket.on('connect', () => { console.log('Connected to WebSocket'); });
  socket.on('productAdded', (products) => { const productList =
  document.getElementById('productList'); productList.innerHTML = '';
  products.forEach(product => { const li = document.createElement('li');
  li.textContent = product.title; productList.appendChild(li); }); });
</script>